<div class="lmt">
  <div class="wrapper-lmt">
    <div class="container">
      <div class="lmt-logo text-center mb-2">
        <%= image_tag "logo-maisonthai.png", height: 60 %>
      </div>
      <div class="lmt-title text-center">
        <h2>LA MAISON THAI</h2>
      </div>
      <div class="lmt-subtitle text-center text-muted">
        <h3><%= t('lmt.subtitle') %></h3>
      </div>
    </div>
  </div>
</div>

<div class="lmt-picture">
  <%= image_tag "lmt.png" %>
</div>

<div class="lmt-description">
  <div class="wrapper wrapper-description">
    <div class="container">
      <div class="description">
        <p><%= t('lmt.presentation.part1')  %></p>
        <p><%= t('lmt.presentation.part2')  %></p>
        <p>
          <%= t('lmt.presentation.part3')  %>
          <a data-controller="trackers" data-event="Contact" data-action="click->trackers#activateTracker" id="mail-contact" href="mailto:lamaisonthai@gmail.com">lamaisonthai@gmail.com</a>.
        </p>
        <p><%= t('lmt.presentation.part4')  %></p>
      </div>
    </div>
  </div>
</div>

<div class="lmt-picture">
  <%= image_tag "thailand.png" %>
</div>

<div class="tarif">
  <div class="wrapper wrapper-tarif">
    <div class="container">
      <div class="title-header pb-2 text-center">
        <h2><%= t('s3.title') %></h2>
      </div>
      <div class="catering-wrapper mt-5">
        <div class="catering-starter">
          <div class="catering-starter-title py-3 text-center">
            <h3><%= t('s3.pills.starter') %></h3>
            <hr>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p><%= t('lmt.menu.starter1') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>2,50 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p><%= t('lmt.menu.starter2') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>4 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p><%= t('lmt.menu.starter3') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>3 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p><%= t('lmt.menu.starter4') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>3,50 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p style="margin-bottom: 5px"><%= t('lmt.menu.starter5') %>:</p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong></strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p style="padding-left: 2rem; margin-bottom: 5px"><%= t('lmt.menu.small') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>5 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p style="padding-left: 2rem"><%= t('lmt.menu.large') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>10 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="catering-main my-3">
          <div class="catering-main-title py-3 text-center">
            <h3><%= t('s3.pills.main') %></h3>
            <hr>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p style="margin-bottom: 5px"><%= t('lmt.menu.main1') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>14 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p><%= t('lmt.menu.small') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>12 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p style="margin-bottom: 5px"><%= t('lmt.menu.main2') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>13 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p><%= t('lmt.menu.small') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>10 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
            <div class="col-md-6">

              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p style="margin-bottom: 5px"><%= t('lmt.menu.main3') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>10 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p><%= t('lmt.menu.small') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>7 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p><%= t('lmt.menu.main4') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>14 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p><%= t('lmt.menu.main5') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>3 Frs</strong>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="catering-dessert">
          <div class="catering-dessert-title py-3 text-center">
            <h3><%= t('s3.pills.dessert') %></h3>
            <hr>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="menu-item">
                  <div class="col-9">
                    <div class="section_menu_item_name">
                      <p><%= t('lmt.menu.dessert1') %></p>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="section_menu_item_price">
                      <strong>3 Frs</strong>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact">
  <div class="wrapper wrapper-contact">
    <div class="container">
      <div class="title-header title-info text-center">
        <h2><%= t('s4.info.title') %></h2>
      </div>
      <div class="row mt-5">
        <div class=" col-sm-12 col-md-6 justify-content-center window-info" id="lmt-info-window">
          <div class="window-logo d-flex justify-content-center align-items-center">
            <%= image_tag'lmt-xs.png', height: 70 %>
            <div class="lmt-title" >
              <h2 id="lmt-contact">LA MAISON THAI</h2>
            </div>
          </div>
          <div class="title-window-lmt">
            <h5><%= t('s4.info.window2') %></h5>
            <hr>
            <ul class="list-contact lc-lmt">
              <li class="list-item d-flex justify-content-between mb-5">
                <p><%= t('s4.info.week1') %></p>
                <p>11H - 19H30</p>
              </li>
            </ul>
          </div>
          <div class="title-window-lmt">
            <h5><%= t('s4.info.window1') %></h5>
            <hr>
            <ul class="list-contact lc-lmt">
              <li class="list-item d-flex mb-2 text-center">
                <i class="fas fa-phone"></i>
                <p>+41.22.320.10.49</p>
              </li>
              <li class="list-item d-flex mb-2">
                <i class="fas fa-map-marker-alt"></i>
                <p>rue de Carouge 69, 1205 Genève</p>
              </li>
              <li class="list-item d-flex mb-2">
                <i class="far fa-envelope"></i>
                <p>lamaisonthai@gmail.ch</p>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class=" col-sm-12 col-md-6 justify-content-center">
          <div class="window-info">
            <div class="title-window">
              <h5><%= t('s4.info.window1') %></h5>
              <hr>
            </div>

            <ul class="list-contact">
              <li class="list-item d-flex mb-3">
                <i class="fas fa-map-marker-alt"></i>
                <p>rue de Carouge 69, 1205 Genève</p>
              </li>
              <li class="list-item d-flex mb-3">
                <i class="fas fa-phone"></i>
                <p>+41.22.320.10.49</p>
              </li>
              <li class="list-item d-flex mb-3">
                <i class="far fa-envelope"></i>
                <p>lamaisonthai@gmail.ch</p>
              </li>
            </ul>
          </div>
          <br>
          <div class="window-info">
            <div class="title-window">
              <h5><%= t('s4.info.window2') %></h5>
              <hr>
            </div>
            <ul class="list-contact">
              <li class="list-item d-flex justify-content-between mb-3">
                <p><%= t('s4.info.week1') %></p>
                <p>11H - 19H30</p>
              </li>
            </ul>
          </div>
          <br>
          <br>
        </div> -->
        <div class="col-sm-12 col-md-6">
          <div class="map-large">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2761.99212521564!2d6.14159111558195!3d46.19071537911631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c7b484cf484bf%3A0x21ea189e8fa8d4a9!2sLa+Maison+Tha%C3%AF!5e0!3m2!1sfr!2sfr!4v1555328710387!5m2!1sfr!2sfr" width="540" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="map-small">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2761.99212521564!2d6.14159111558195!3d46.19071537911631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c7b484cf484bf%3A0x21ea189e8fa8d4a9!2sLa+Maison+Tha%C3%AF!5e0!3m2!1sfr!2sfr!4v1555328710387!5m2!1sfr!2sfr" width="350" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
