<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- HTML Meta Tags -->
    <title>La Table des Artisans</title>
    <meta name="description" content="Restaurant thai Onex ">

     <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="La table des artisans" >
    <meta itemprop="description" content="Restaurant traiteur thaï">


    <%= favicon_link_tag 'favicon.png' %>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <style>@import url('https://fonts.googleapis.com/css?family=Anton');</style>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar'%>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= render 'cookies_eu/consent_banner', link: '/cookies' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
